In [1]:
# Day 2 - Python Basics
print("Day 2 started successfully")

Day 2 started successfully

In [2]:
age = 22 
name ="Darshan"
cgpa = 8.5
is_student = True 
age, name, cgpa, is_student

(22, 'Darshan', 8.5, True)

In [3]:
type(age)

int

In [4]:
type(name)
type(cgpa)
type(is_student)

bool

In [5]:
marks = [85, 90, 93, 74]
marks

[85, 90, 93, 74]

In [6]:
marks [0]  #first element
marks[2]   #second elements
marks[-2]  #third elements

93

In [7]:
score = 72

if score >=90:
   print("Excellent")
elif score >=60:
   print("Good")
else:
   print("Need Improvement")

Good

marks = [85, 88, 97, 74]
for m in marks:
   if m >=90:
   print(m,"Excellent")
   elif m>=75:
   print(m,"Good")
   else:
   print(m,"average")

In [8]:
ages = [20 ,45 ,17 ,44 ,33 ,23]
for age in ages:
       if age >=18:
           print(age,"Adult")
       else:
           print(age,"Minor")

20 Adult
45 Adult
17 Minor
44 Adult
33 Adult
23 Adult

In [9]:
def greet():
    print("Welcome, To My Data Analysis")

In [10]:
greet()

Welcome, To My Data Analysis

In [11]:
def greet_user(name):
    print("Hello", name)
    greet_user("Darshan")
    greet_user("Data Analysis")

In [12]:
def square(num):
    return num * num
    square(5)

In [13]:
result = square(6)
result

36

In [14]:
def check_adult(age):
    if age >= 18:
       return "Adult"
    else:
       return "Minor"

In [15]:
print (check_adult(20))
print (check_adult(9))

Adult
Minor

In [16]:
student = {
    "name" : "Darshan",
     "age": 22,
    "cgpa": 8.5,
     "is_student": True 
}

In [17]:
student["name"]
student["age"]

22

In [18]:
age = [10, 15 ,20 ,25 ,30 ,35]
def check_adult(age):
    if age >= 18:
        return "Adult"
    else:
        return "Mionor"

for age in ages:
    print(age,"→",check_adult(age))

20 → Adult
45 → Adult
17 → Mionor
44 → Adult
33 → Adult
23 → Adult

In [19]:
student = {
    "name": "Darshan",
    "age": 22,
    "cgpa": 8.5,
    "is_student": True
}

student

{'name': 'Darshan', 'age': 22, 'cgpa': 8.5, 'is_student': True}

In [20]:
student["name"]
student["cgpa"]

8.5

In [21]:
student["city"] = "Nashik"
student

{'name': 'Darshan',
 'age': 22,
 'cgpa': 8.5,
 'is_student': True,
 'city': 'Nashik'}

In [22]:
student["cgpa"] = 8.7
student

{'name': 'Darshan',
 'age': 22,
 'cgpa': 8.7,
 'is_student': True,
 'city': 'Nashik'}

In [23]:
del student["is_student"]
student

{'name': 'Darshan', 'age': 22, 'cgpa': 8.7, 'city': 'Nashik'}

In [24]:
for key in student:
    print(key)

name
age
cgpa
city

In [25]:
for key in student:
    print([key])

['name']
['age']
['cgpa']
['city']

In [26]:
for key, value in student.items():
    print(key,":",value)

name : Darshan
age : 22
cgpa : 8.7
city : Nashik

In [27]:
students = [
    {"name":"Prem", "age":19, "marks":65},
    {"name":"Shubham", "age":21, "marks":70},
    {"name":"Mayur", "age":25, "marks":75},
    {"name":"Krish", "age":23, "marks":90}
]

In [28]:
def check_adult(age):
    if age >=18:
        return"Adult"
    else:
        return"Minor"

def check_pass(marks):
    if marks >=50:
        return"Pass"
    else:
        return"Fail"

In [29]:
for student in students:
    name = student["name"]
    age = student["age"]
    marks = student["marks"]

    print(
        name,
        "|",
        check_adult(age),
        "|",
        check_pass(marks),
        "|"
    )

Prem | Adult | Pass |
Shubham | Adult | Pass |
Mayur | Adult | Pass |
Krish | Adult | Pass |

In [30]:
result = []

In [31]:
result = []

for student in students:
    record = {
        "Name": student["name"],
        "Age group": check_adult(student["age"]),
        "Result": check_pass(student["marks"])
    }
    result.append(record)

In [32]:
result

[{'Name': 'Prem', 'Age group': 'Adult', 'Result': 'Pass'},
 {'Name': 'Shubham', 'Age group': 'Adult', 'Result': 'Pass'},
 {'Name': 'Mayur', 'Age group': 'Adult', 'Result': 'Pass'},
 {'Name': 'Krish', 'Age group': 'Adult', 'Result': 'Pass'}]

results = []

for student in students:
    results.append({
        "Name": student["name"],
        "Age": student["age"],
        "Adult_Status": check_adult(student["age"]),
        "Marks": student["marks"],
        "Result": check_pass(student["marks"])
    })

In [33]:
import pandas as pd

In [34]:
df = pd.DataFrame(result)
df

      Name Age group Result
0     Prem     Adult   Pass
1  Shubham     Adult   Pass
2    Mayur     Adult   Pass
3    Krish     Adult   Pass

In [35]:
df.head()

      Name Age group Result
0     Prem     Adult   Pass
1  Shubham     Adult   Pass
2    Mayur     Adult   Pass
3    Krish     Adult   Pass

In [36]:
df. shape

(4, 3)

In [37]:
df.info

<bound method DataFrame.info of       Name Age group Result
0     Prem     Adult   Pass
1  Shubham     Adult   Pass
2    Mayur     Adult   Pass
3    Krish     Adult   Pass>

In [38]:
df. columns

Index(['Name', 'Age group', 'Result'], dtype='object')

In [39]:
df

      Name Age group Result
0     Prem     Adult   Pass
1  Shubham     Adult   Pass
2    Mayur     Adult   Pass
3    Krish     Adult   Pass

In [40]:
df[df["Result"] == "Pass"]

      Name Age group Result
0     Prem     Adult   Pass
1  Shubham     Adult   Pass
2    Mayur     Adult   Pass
3    Krish     Adult   Pass

In [41]:
df.columns

Index(['Name', 'Age group', 'Result'], dtype='object')